In [1]:
def reverse_geocoding(lat, lon):
    try:
        location = geolocator.reverse(Point(lat, lon))
        return location.raw['display_name']
    except:
        return None

In [29]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from geopy.point import Point
geolocator = Nominatim()
f=pd.read_excel('nyctrips.xlsx')
g=f.pivot_table(values=['Latitude','Longitude'],index='Path ID',columns='Origin-Destination')
g=g.reset_index()
g.columns= ['_'.join(col) for col in g.columns]
g['address'] = np.vectorize(reverse_geocoding)(g['Latitude_Origin'], g['Longitude_Origin'])
g['destination_address'] = np.vectorize(reverse_geocoding)(g['Latitude_Destination'], g['Longitude_Destination'])
g.to_csv('nyctrips.csv')
g

/usr/local/lib/python3.7/dist-packages/geopy/geocoders/osm.py:143: UserWarning: Using Nominatim with the default "geopy/1.17.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  UserWarning

,Country,City,Latitude,Longitude,Pickup Trips,Dropoff Trips,Total Trips,address
0,United States,New York,40.76,-73.97,898910,825111,1724021,"664, Lexington Avenue, Manhattan Community Boa..."
1,United States,New York,40.75,-73.99,798813,747636,1546449,"137, West 33rd Street, Manhattan Community Boa..."
2,United States,New York,40.76,-73.98,737145,804845,1541990,"Rockefeller Center, 45, Rockefeller Plaza, Mid..."
3,United States,New York,40.75,-73.98,726282,727129,1453411,"35, East 38th Street, Murray Hill, Manhattan, ..."
4,United States,New York,40.74,-73.99,671492,593305,1264797,"10, East 21st Street, Manhattan Community Boar..."
5,United States,New York,40.76,-73.99,627726,522215,1149941,"341, West 45th Street, Manhattan Community Boa..."
6,United States,New York,40.73,-73.99,521644,432165,953809,"51 Astor Place, East 9th Street, East Village,..."
7,United States,New York,40.77,-73.96,509157,494186,1003343,"Dallas BBQ, 1265, 3rd Avenue, Manhattan Commun..."
8,United States,New York,40.77,-73.98,467888,402405,870293,"Central Park Outer Loop, Manhattan, New York C..."
9,United States,New York,40.73,-74.00,454819,398679,853498,"Filomen D'agostino Residence Hall, 110, West 3..."